.my-image-holder {
  width: 30rem;
  height: 22rem;
  background: linear-gradient(135deg, #34333376, rgb(23, 23, 23));
  border-radius: 2rem;
}
.my-image-div {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-image: url("../../Images/351547281_767771111497157_3000192240985791895_n.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 576px) {
  .my-image-holder {
    width: 90%;
    margin-left: 1.4rem;
  }
}
