.credentials-main-holder {
  width: 25rem;
  height: 20rem;
  background: linear-gradient(135deg, #34333376, rgb(23, 23, 23));
  border-radius: 2rem;
  box-shadow: rgba(37, 37, 37, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.credentials-main-holder:hover {
  transform: scale(1.05);
}
.credentials-main-holder:hover .credentials-logo {
  filter: brightness(0) invert(1);
}
.credentials-logo {
  background-image: url("../Images/icons8-student-male-64\ \(1\).png");
  width: 5rem;
  height: 5rem;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter 0.3s ease-in-out;
}
@media screen and (max-width: 576px) {
  .credentials-main-holder {
    width: 90%;
    margin-left: 1.5rem;
  }
}
