.contact-data-holder {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.contact-box-logo-holder {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #34333376, rgb(23, 23, 23));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
.contact-box-logo-holder:hover {
  background-color: white;
  transition: 0.5s ease-out;
}
.contact-logo {
  width: 3rem;
  height: 3rem;
  background-image: url("");
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
}
.contact-information-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
  opacity: 0.9;
}
.contact-bussing-label {
  opacity: 0.6;
  font-size: 1.3rem;
}
