.content-main-holder {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.content-holder {
  width: 90rem;
  height: auto;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .content-holder {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 2rem;
  }
}
