.credentials-section-holder {
  width: 50rem;
  color: white;
  padding-top: 2.4rem;
}
.credentials-data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .credentials-section-holder {
    width: 100%;
  }
  .credentials-data-wrapper {
    text-align: center;
  }
  .credentials-section-holder h2,
  .credentials-section-holder label {
    text-align: center;
  }
}
